<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <i class="fa fa-briefcase"></i> Employee Management
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/employees" routerLinkActive="active">
            <i class="fa fa-users"></i> Employee List
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="create-employee" routerLinkActive="active">
            <i class="fa fa-plus-circle"></i> Add Employee
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer" style="background-color: #5A92B3;">
  <div class="container">
    <a>All Right Reversed &copy; {{ currentYear }}</a>
  </div>
</footer>