.navbar-nav .active {
    color: #122be3;
}

.background {
  background-image: url('./photo/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}